
#body{  margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 0px;

}

#head_wrapper	{	max-width : 100%;
					opacity : 1;
}

#header	{	z-index: 1; 
			width: 100%;
			height: auto;
			padding: 0px 0px;
			position: relative;
			margin: 0 auto;
			background-color: #002a32;
			color: #00d6d6;
			font-size : 40px;
			font-family: 'Monoton', cursive;
			opacity : 1;
			padding-bottom : 10px;
			padding-top : 10px;
}

.side-nav{
			font-family: Segoe UI;
			height: 100%;
			width:0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #111;
			opacity: 0.9;
			overflow-x: hidden;
			padding-top: 60px;
			transition: 0.5s;
		}
.side-nav a{
			padding: 10px 10px 10px 30px;
			text-decoration: none;
			font-size: 12px;
			color: #ccc;
			display: block;
			transition: 0.3s;
		}
.side-nav a:hover{
			color: #fff;
		}
.side-nav .btn-close{
			position: absolute;
			top: 0;
			right: 22px;
			font-size: 36px;
			margin-left: 50px;
		}



.btn {	background-color: black;
		color: #00d6d6;
		padding: 10px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
}
.btn1	{	display : inline-block;
			border-radius : 3px;
			background-color : black;
			color : #00d6d6;
			border : 2px solid #00d6d6;
}

.btn1:hover	{	color : white;
				border : 2px solid white;
}

.btn2	{	position : relative;
			border : none;
			height : 66px;
			outline : 0;
			display : inline-block;
			margin: 0 auto;
			background-color : #002a32;
			color : #00d6d6;
			padding-top : 20px;
			padding-bottom : 10px;
			padding-right : 20px;
			margin-left : 700px;
			text-align : center;
			cursor : pointer;
			font-size: 16px;
}

.btn2:hover	{	background-color : #002a32;
				color:#ffffff;
}

#rest_body	{	max-width : 100%;
				position : relative;
				background-color : black;
				height : auto;
				color : white;
				padding-top : 90px;
}

.img{  height : 20px;
	   width : 20px;
}

#code {	border : 1px solid #00d6d6;
		border-radius : 3px;
		color : white;
		font-family : monospace;
		border-width : 40%;
		padding-left : 20px;
		padding-top : 20px;
		padding-bottom : 20px;
		font-size : 16;
		width : 40%;
		margin-left : 30px;
		float : left;
}

#parallel	{	padding-top : 30px;
}

#ack {	padding-left : 20px;
		background-color : #002a32;
		opacity : 1;
		padding-top : 40px;
		padding-bottom : 40px;
		color : #00d6d6;
}

#table, th, td	{	border : 1px solid #00d6d6;
					margin-left : 100px;
					margin-right : 100px;
					border-collapse : collapse;
					padding-top : 10px;
					padding-bottom : 10px;
}


